<%- include('parts/header')%>
<%- include('parts/nav')%>

    <div class="container text-center">
        <h1 class="alert-warning"> 403 </h1>
        <p class="alert-secondary"> Your Not Admin </p>
    </div>
<%- include('parts/footer')%>
